<div class="btn-group btn-group-lg" role="group" aria-label="...">
    <button (click)="openProductDialog()" type="button" class="btn btn-default">New Product</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Product list</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <td>title</td>
                <td>price</td>
                <td>amount</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>product</td>
                <td>100.00</td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
</div>
